{% extends "main.html" %}

{% block body %}
<br>

<table>
<tr>
{% for cat in categories %}
<td>{{ cat }}</td>
{% endfor %}
</tr>

{% for user in users %}
<tr>
{% for cat in categories %}
<td>{{ user[cat] }}</td>
{% endfor %}
<td><a href="remove{{ user['_id'] }}">Remove</a></td>
</tr>
{% endfor %}
<tr>
<form action="{{ url_for('add_user') }}" method="post">
{% for cat in categories %}
	<td><input name="{{ cat }}" type="text"></input></td>
{% endfor %}
<td><input type="submit" value="Save"></td>
</form>
</tr>
</table>

{% endblock %}

